body {
  color: #292929;
  background: transparent url(http://localhost:8242/blog/img/background.png) 0 0 repeat;
  font-size: 10px;
  font-family: "微软雅黑";
  margin: 0;
}
.title-content {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0 auto;
  background-color: #292929;
  width: 100%;
  height: 60px;
  font-weight: 400;
  box-shadow: 0 5px 10px #000000;
}
.title-content h1,
.title-content h3 {
  display: block;
  text-shadow: 0 1px 0 #ffffff, 1px 0 0 #ffffff, 0 -1px #ffffff, -1px 0 #ffffff;
  width: 100%;
}
.title-content h1 {
  text-align: center;
  font-size: 1.8rem;
  margin: 10px 0px;
  height: 30px;
}
.title-content h3 {
  font-size: 1.2rem;
  height: 20px;
  text-align: right;
}
.body-container {
  width: 98%;
  margin: 0 auto;
  margin-top: 80px;
}
i {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.icon-share {
  background: url(http://localhost:8242/blog/lib/img/ui-icon.png) 0 -66px no-repeat;
}
